basePath: '{{.BasePath}}'
definitions:
  common.appErrJSON:
    properties:
      err_code:
        type: integer
      message:
        type: string
    type: object
  event.Event:
    properties:
      name:
        type: string
      src:
        type: string
    type: object
  misc.Message:
    properties:
      message:
        example: pong
        type: string
    type: object
host: api.behavior.a2os.club
info:
  contact:
    email: a2os-general@googlegroups.com
    name: A2OS Dev Team
    url: https://groups.google.com/group/a2os-general
  description: A2OS Behavior API Documentation.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: A2OS Behavior
  version: 0.0.1
paths:
  /csrf:
    get:
      consumes:
      - application/json
      description: Get CSRF token and cookie
      produces:
      - application/json
      responses:
        "200":
          description: IN HEADER
          headers:
            X-CSRF-TOKEN:
              description: CSRF Token hash value
              type: string
          schema:
            type: string
      summary: CSRF
      tags:
      - miscellaneous
  /ping:
    get:
      consumes:
      - application/json
      description: Ping health check
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/misc.Message'
            type: object
      summary: PING-PONG
      tags:
      - miscellaneous
  /v1/event:
    post:
      consumes:
      - application/json
      description: Create an new event record
      parameters:
      - description: Add event
        in: body
        name: event
        required: true
        schema:
          $ref: '#/definitions/event.Event'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/common.appErrJSON'
            type: object
      summary: Create an event
      tags:
      - event
swagger: "2.0"
